In [19]:
import pandas as pd
from datetime import datetime
# from load_and_transform import check_winner, calc_score #player_list, team_list, playerDF, betsDF, scoringDF, playoffDF

In [2]:
from functions_load_and_transform import schedule

from datetime import datetime

Empty DataFrame
Columns: [Counter, Game Nr., Week, Home Team, Away Team, Location, Date, Score Home, Score Guest, Winner]
Index: []

In [5]:
schedule.head(18)

    Counter  Game Nr.  Week  ... Score Home Score Guest Winner
0         1         1     1  ...          0           0      2
1         2         2     1  ...          0           0      2
2         3         3     1  ...          0           0      2
3         4         4     1  ...          0           0      2
4         5         5     1  ...          0           0      2
5         6         6     1  ...          0           0      2
6         7         7     1  ...          0           0      2
7         8         8     1  ...          0           0      2
8         9         9     1  ...          0           0      2
9        10        10     1  ...          0           0      2
10       11        11     1  ...          0           0      2
11       12        12     1  ...          0           0      2
12       13        13     1  ...          0           0      2
13       14        14     1  ...          0           0      2
14       15        15     1  ...          0           0      2
15       16        16     1  ...          0           0      2
16       17         1     2  ...          0           0      2
17       18         2     2  ...          0           0      2

[18 rows x 10 columns]

In [13]:
schedule.iloc[15][6]

Timestamp('2024-09-09 20:20:00')

In [17]:


thisDay = datetime.today().strftime("%Y-%m-%d") # for live

if thisDay < schedule.iloc[15][6].strftime("%Y-%m-%d"):
    print("abcd")

# week_count = list(schedule.loc[schedule["Date"]<thisDay, "Week"])[-1]

abcd

In [20]:
def check_winner(row): # winner column in game Data
    if row["Score Home"] > row["Score Guest"]:
        return 1
    else:
        return 2

def calc_score(row): # check if player guessed correctly
    if row[player] == row["Winner"]:
        return 1
    else:
        return 0

In [21]:

thisDay = datetime.today().strftime("%Y-%m-%d")
thisDay = datetime(2024, 9, 6)

player_list = ["Alex", "Alina", "Evelyn", "Christopher", "Ludwig", "Manu", "Natalie", "Nikolai", "Sebastian", "Vero", "Viki", "Wolfgang"]

betsDF = pd.read_csv("data/bets.csv", delimiter=";")
betsDF["Date"] = pd.to_datetime(betsDF["Date"], format="%d.%m.%Y %H:%M")
betsDF["Winner"] = betsDF.apply(check_winner, axis=1)

playerDF = pd.DataFrame(data={"Player":player_list}) # sums up 
scoringDF = pd.DataFrame(columns=player_list) # collect the points for each game
scoringDF["Week Count"] = betsDF["Round Number"]

In [22]:
scoringDF

for player in player_list:
    scoringDF[player] = betsDF.apply(calc_score, axis=1)

scoringDF
# Zwischenstand

,Alex,Alina,Evelyn,Christopher,Ludwig,Manu,Natalie,Nikolai,Sebastian,Vero,Viki,Wolfgang,Week Count
0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,0,1,1,0,0,0,0,1,0,1,1,1,1
2,1,1,1,0,0,0,0,1,0,1,0,1,1
3,0,1,0,0,0,0,0,0,0,0,1,0,1
4,0,1,1,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,1,1,1,1,1,1,0,1,1,1,1,1,20
281,0,1,0,1,0,1,1,1,1,0,0,1,20
282,0,1,0,1,0,0,0,1,0,0,0,0,21
283,1,0,1,1,0,0,0,1,0,1,0,1,21
284,0,1,0,1,0,0,0,0,0,0,1,0,22

In [23]:
lastWeek = 17

In [25]:
# playerDF["Gesamtpunkte"] = scoringDF[player_list].sum().to_list()
# playerDF["Punkte Regular Season"] = scoringDF[player_list][:-15].sum().to_list() # Regular Season
# playerDF["Playoff Punkte"] = [scoringDF[player_list][-15:-3].sum().to_list()[i]
#                               + scoringDF[player_list].iloc[[-2]].sum().to_list()[i]
#                               for i in range(12)]  # Playoffs inklusive Vorab Tipp
# playerDF["Superbowl Punkte"] = scoringDF[player_list].iloc[[-3,-1]].sum().to_list() # Superbowl inklusive Vorab Tipp
# playerDF["Abgegebene Tipps"] = placed_bets

playerDF["Gesamtpunkte"] = scoringDF[player_list].sum().to_list()
playerDF["Last Week"] = scoringDF.loc[scoringDF["Week Count"]<=lastWeek, player_list].sum().to_list()
playerDF["Zuwachs"] = playerDF["Gesamtpunkte"]-playerDF["Last Week"]



playerDF

         Player  Gesamtpunkte  Last Week  Zuwachs
0          Alex           166        152       14
1         Alina           185        162       23
2        Evelyn           184        167       17
3   Christopher            91         71       20
4        Ludwig           146        130       16
5          Manu           126        113       13
6       Natalie            81         71       10
7       Nikolai           149        134       15
8     Sebastian           136        119       17
9          Vero           152        139       13
10         Viki           141        128       13
11     Wolfgang           178        161       17