In [1]:
import pandas as pd
from datetime import datetime
from functions_load_and_transform import scoringDF, player_list

In [2]:
from functions_load_and_transform import player_list

In [ ]:
thisWeek = 19

week_view_list = list(range(1, thisWeek))
week_view_list.append("Summe")

scoringDF = scoringDF.drop("Game Nr.", axis=1)
scoringDF = scoringDF.drop("Winner", axis=1)

weekly_group = scoringDF.groupby("Week").sum()
week_view = weekly_group.transpose()#
week_view["Summe"] = week_view.sum(axis=1)
week_view = week_view[week_view_list]
week_view.columns = week_view.columns.map(str)

po_vorab_points = pd.read_csv("data/playoffResults.csv").transpose().rename(columns={0:"Playoff Vorab Punkte"})
po_vorab_points["Regular Season Punkte"] = week_view["Summe"]

po_vorab_points["Gesamtpunkte"] = po_vorab_points["Regular Season Punkte"]+po_vorab_points["Playoff Vorab Punkte"]
po_vorab_points.sort_values("Gesamtpunkte", ascending=False)

             Playoff Vorab Punkte  Regular Season Punkte  Gesamtpunkte
Alex                           16                    181           197
Alina                          16                    163           179
Evelyn                         16                    194           210
Christopher                    18                    175           193
Ludwig                         18                     71            89
Manu                            0                    116           116
Natalie                        16                    162           178
Nikolai                        14                     32            46
Sebastian                      16                    154           170
Vero                           14                    161           175
Viki                           10                    134           144
Wolfgang                       16                    184           200

In [ ]:
df = pd.read_csv("data/playoffResults.csv").transpose().rename(columns={0:"Playoff Vorab Punkte"})

             Playoff Vorab Punkte
Alex                           16
Alina                          16
Evelyn                         16
Christopher                    18
Ludwig                         18
Manu                            0
Natalie                        16
Nikolai                        14
Sebastian                      16
Vero                           14
Viki                           10
Wolfgang                       16

In [39]:
df = pd.read_csv("data/playoffBets.csv")

playoffPoints = pd.DataFrame(columns=player_list)

for player in player_list:
    count = 0
    for team in df["PO Participant"]:
        if team in list(df[player]):
            count+=2
            # print(player, team)
    print(player, count)
    playoffPoints[player] = [count]

playoffPoints.to_csv("data/playoffResults.csv",index=False)
playoffPoints

Alex 16
Alina 16
Evelyn 16
Christopher 18
Ludwig 18
Manu 0
Natalie 16
Nikolai 14
Sebastian 16
Vero 14
Viki 10
Wolfgang 16

,Alex,Alina,Evelyn,Christopher,Ludwig,Manu,Natalie,Nikolai,Sebastian,Vero,Viki,Wolfgang
0,16,16,16,18,18,0,16,14,16,14,10,16