In [1]:
import pandas as pd
from datetime import datetime
from functions_load_and_transform import thisWeek_DF, lastWeek_DF, thisWeek, lastWeek, team_list, scoringDF, player_list, playerDF

In [ ]:
playerDF["Gesamtpunkte"] = scoringDF.loc[scoringDF["Week"]<=selected_week, player_list].sum().to_list()

In [23]:
resultsDF = pd.read_csv("data/results.csv")

schedule = pd.read_csv("data/schedule.csv", delimiter=";")
schedule["Date"] = pd.to_datetime(schedule["Date"], format="%Y.%m.%d %H:%M")

thisDay = datetime.today().strftime("%Y-%m-%d") # for live

In [25]:
thisWeek = list(schedule.loc[schedule["Date"]<thisDay, "Week"])[-1]+1
thisWeek

2

In [26]:
lastWeek = thisWeek-1
lastWeek

1

In [27]:
lastWeek_DF = resultsDF.loc[resultsDF["Week"]==lastWeek, ["Game Nr.", "Home Team", "Score Home", "Score Guest", "Away Team"]]
lastWeek_DF

,Game Nr.,Home Team,Score Home,Score Guest,Away Team
0,1,Kansas City Chiefs,27,20,Baltimore Ravens
1,2,Philadelphia Eagles,34,29,Green Bay Packers
2,3,Atlanta Falcons,10,18,Pittsburgh Steelers
3,4,Buffalo Bills,34,28,Arizona Cardinals
4,5,Chicago Bears,24,17,Tennessee Titans
5,6,Cincinnati Bengals,10,16,New England Patriots
6,7,Indianapolis Colts,27,29,Houston Texans
7,8,Miami Dolphins,20,17,Jacksonville Jaguars
8,9,New Orleans Saints,47,10,Carolina Panthers
9,10,New York Giants,6,28,Minnesota Vikings
10,11,Los Angeles Chargers,22,10,Las Vegas Raiders
11,12,Seattle Seahawks,26,20,Denver Broncos
12,13,Cleveland Browns,17,33,Dallas Cowboys
13,14,Tampa Bay Buccaneers,37,20,Washington Commanders
14,15,Detroit Lions,26,20,Los Angeles Rams
15,16,San Francisco 49ers,32,19,New York Jets