In [28]:
import pandas as pd
from datetime import datetime
# from functions_load_and_transform import thisWeek_DF, lastWeek_DF, thisWeek, lastWeek, team_list, scoringDF, player_list

In [29]:
from functions_load_and_transform import player_list

In [39]:
df = pd.read_csv("data/playoffBets.csv")

playoffPoints = pd.DataFrame(columns=player_list)

for player in player_list:
    count = 0
    for team in df["PO Participant"]:
        if team in list(df[player]):
            count+=2
            # print(player, team)
    print(player, count)
    playoffPoints[player] = [count]

playoffPoints.to_csv("data/playoffResults.csv",index=False)
playoffPoints

Alex 16
Alina 16
Evelyn 16
Christopher 18
Ludwig 18
Manu 0
Natalie 16
Nikolai 14
Sebastian 16
Vero 14
Viki 10
Wolfgang 16

,Alex,Alina,Evelyn,Christopher,Ludwig,Manu,Natalie,Nikolai,Sebastian,Vero,Viki,Wolfgang
0,16,16,16,18,18,0,16,14,16,14,10,16