In [1]:
import pandas as pd
from datetime import datetime
from functions_load_and_transform import thisWeek_DF, lastWeek_DF, thisWeek, lastWeek, team_list, scoringDF, player_list

In [ ]:
# from admin_tool import calc_scoring_csv

# calc_scoring_csv()

In [9]:
scheduleDF = pd.read_csv("data/schedule.csv", delimiter=";")
scheduleDF.loc[scheduleDF["Week"]==14]

,Counter,Game Nr.,Week,Home Team,Away Team,Location,Date
195,196,1,14,Detroit Lions,Green Bay Packers,"Ford Field, Detroit, MI",2024.12.05 20:15
196,197,2,14,Tennessee Titans,Jacksonville Jaguars,"Nissan Stadium, Nashville, TN",2024.12.08 13:00
197,198,3,14,Miami Dolphins,New York Jets,"Hard Rock Stadium, Miami Gardens, FL",2024.12.08 13:00
198,199,4,14,Minnesota Vikings,Atlanta Falcons,"U.S. Bank Stadium, Minneapolis, MN",2024.12.08 13:00
199,200,5,14,New York Giants,New Orleans Saints,"MetLife Stadium, East Rutherford, NJ",2024.12.08 13:00
200,201,6,14,Philadelphia Eagles,Carolina Panthers,"Lincoln Financial Field, Philadelphia, PA",2024.12.08 13:00
201,202,7,14,Pittsburgh Steelers,Cleveland Browns,"Acrisure Stadium, Pittsburgh, PA",2024.12.08 13:00
202,203,8,14,Tampa Bay Buccaneers,Las Vegas Raiders,"Raymond James Stadium, Tampa, FL",2024.12.08 13:00
203,204,9,14,Arizona Cardinals,Seattle Seahawks,"State Farm Stadium, Glendale, AZ",2024.12.08 16:05
204,205,10,14,Los Angeles Rams,Buffalo Bills,"SoFi Stadium, Inglewood, CA",2024.12.08 16:25
205,206,11,14,San Francisco 49ers,Chicago Bears,"Levi's Stadium, Santa Clara, CA",2024.12.08 16:25
206,207,12,14,Kansas City Chiefs,Los Angeles Chargers,"GEHA Field at Arrowhead Stadium, Kansas City, MO",2024.12.08 20:20
207,208,13,14,Dallas Cowboys,Cincinnati Bengals,"AT&T Stadium, Arlington, TX",2024.12.09 20:15

In [16]:
selected_week = 3

playerDF = pd.DataFrame(data={"Spieler":player_list}) # sums up 
playerDF["Gesamtpunkte"] = scoringDF[player_list].sum().to_list()
# playerDF["Last Week"] = scoringDF.loc[scoringDF["Week"]<=selected_week-1, player_list].sum().to_list()
playerDF["Wöchentliche Punkte"] = scoringDF.loc[scoringDF["Week"]==selected_week, player_list].sum().to_list()

In [17]:
playerDF

        Spieler  Gesamtpunkte  Wöchentliche Punkte
0          Alex            27                    7
1         Alina            28                    8
2        Evelyn            28                    8
3   Christopher            30                   12
4        Ludwig            18                    0
5          Manu             7                    0
6       Natalie            26                    7
7       Nikolai            17                    0
8     Sebastian            30                    9
9          Vero            25                    8
10         Viki            20                    8
11     Wolfgang            26                    6

In [20]:
weekly_group = scoringDF.groupby("Week", as_index=False).sum()
weekly_group

,Week,Game Nr.,Alex,Alina,Evelyn,Christopher,Ludwig,Manu,Natalie,Nikolai,Sebastian,Vero,Viki,Wolfgang
0,1,136,12,12,12,12,10,0,11,8,11,10,8,13
1,2,136,8,8,8,6,8,7,8,9,10,7,4,7
2,3,136,7,8,8,12,0,0,7,0,9,8,8,6
3,4,136,0,0,0,0,0,0,0,0,0,0,0,0
4,5,105,0,0,0,0,0,0,0,0,0,0,0,0
5,6,105,0,0,0,0,0,0,0,0,0,0,0,0
6,7,120,0,0,0,0,0,0,0,0,0,0,0,0
7,8,136,0,0,0,0,0,0,0,0,0,0,0,0
8,9,120,0,0,0,0,0,0,0,0,0,0,0,0
9,10,105,0,0,0,0,0,0,0,0,0,0,0,0
10,11,105,0,0,0,0,0,0,0,0,0,0,0,0
11,12,91,0,0,0,0,0,0,0,0,0,0,0,0
12,13,136,0,0,0,0,0,0,0,0,0,0,0,0
13,14,91,0,0,0,0,0,0,0,0,0,0,0,0
14,15,136,0,0,0,0,0,0,0,0,0,0,0,0
15,16,136,0,0,0,0,0,0,0,0,0,0,0,0
16,17,136,0,0,0,0,0,0,0,0,0,0,0,0
17,18,136,0,0,0,0,0,0,0,0,0,0,0,0

In [40]:
mylist = list(range(1, selected_week))
print(mylist)
mylist.append("Summe")
mylist

[1, 2, 3]

[1, 2, 3, 'Summe']

In [42]:
week_view = scoringDF.groupby("Week").sum().transpose().drop("Game Nr.")
week_view["Summe"] = week_view.sum(axis=1)
week_view[mylist]

Week          1   2   3  Summe
Alex         12   8   7     27
Alina        12   8   8     28
Evelyn       12   8   8     28
Christopher  12   6  12     30
Ludwig       10   8   0     18
Manu          0   7   0      7
Natalie      11   8   7     26
Nikolai       8   9   0     17
Sebastian    11  10   9     30
Vero         10   7   8     25
Viki          8   4   8     20
Wolfgang     13   7   6     26